# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
dist/
build/

# Virtual environments
venv/
.env
.env.*

# OS files
.DS_Store

# IDE
.vscode/
.idea/

# Logs
*.log

# Kafka local data (if you generate any local dirs)
kafka-logs/
tmp/
